.btn {
  cursor: pointer;
  &--artist {
    width: 100%;
    border-radius: 40px;
    border: 1px solid var(--btn-border);
    background-color: transparent;
    &:hover {
      background-color: var(--text);
      a {
        color: var(--bcg);
      }
    }
    @media (min-width: 1440px) {
      margin-top: 50px;
    }
  }
}
