.b-gallery {
    max-width: 1200px;
    margin: 0 auto;
}

.alice-carousel__stage-item * {
    width: 100%;
}

.alice-carousel {
    text-align: center;
    margin: 0 auto;
}

.alice-carousel__next-btn {
    text-align: left;
}
