.b-hero {
  background-image: url(../../public/images/hero-bcg.png);
  background-size: cover;
  height: 100vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.b-hero__headings {
  text-align: center;
}

.b-hero__heading {
  margin-bottom: 26px;
}

.b-hero__btn {
  position: absolute;
  bottom: 48px;
  @media (min-width: 1440px) {
    bottom: 90px;
  }
}
